<style>
  /* CSS cho phần tử input */
  input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
  }

  /* CSS cho nút Join và nút Submit */
  #btn_join, #btn_send {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }

  /* CSS cho danh sách tin nhắn */
  #ul_message {
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
  }

  /* CSS cho tin nhắn gửi */
  

  /* CSS cho tin nhắn nhận */
  #ul_message li {
    color: blue;
  }
  .sent-name {
    color: red;
  }

  /* CSS cho khung chat */
  .chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
  }

  .chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #4CAF50;
  }

  .chat-header img {
    max-width: 200px;
    height: auto;
  }

  /* CSS cho nút Submit và tin nhắn */
  .message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .message-input input[type="text"] {
    flex: 1;
  }

  .message-input button {
    margin-left: 10px;
  }

  /* CSS cho phần đăng nhập */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin-top: -50px;
  }

  .login-container input[type="text"],
  .login-container button {
    margin-right: 10px;
  }

  /* CSS cho phần tử hình ảnh phía ngoài */
  .background-image {
    
    background-image: url('../public/anh.webp');
    background-size: cover;
  
  }
</style>
<div class="background-image">

</div>
<div class="chat-container">
  

  <div class="chat-header">
    <img src="https://gooup1.vn/static/assets/images/logo_sub_admin_en.png" alt="Logo">
  </div>

  <div class="login-container">
    <input type="text" id="username" placeholder="Username">
    <input type="text" id="room" placeholder="Room">
    <button id="btn_join">Join</button>
  </div>

  <ul id="ul_message"></ul>

  <div class="message-input">
    <input type="text" id="id_message" placeholder="Message">
    <button id="btn_send">Submit</button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
<script src="js/client.js"></script>